.SquareOrRectangleCursorsMain ,.SquareOrRectangleCursorsMain::before {
    cursor: none;
    pointer-events: none;
    position: fixed;
    z-index: 999;
    height: 3rem;
    width: 3rem;
    transform: translate(-50%, -50%);
    transition:all 0.03s ease 0s, width 0.2s ease 0s, height 0.2s ease 0s;
}

.SquareOrRectangleCursorsInner {
    cursor: none;
    pointer-events: none;
    position: fixed;
    content: '&#x2B22';
    z-index: 999;
    height: 1rem;
    width: 1rem;
    transform: translate(-50%, -50%);
    background: black;
    transition:all 0.03s ease 0s, width 0.2s ease 0s, height 0.2s ease 0s;
}